.our-team {
  width: 100%;
  overflow: hidden;
  h3 {
    width: 100%;
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    color: rgb(68, 68, 68);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 130px;
  }
}
.our-team__teammates-wrapper {
  border: 2px solid red;
  width: 1170px;
  margin: 0 auto;
}
.our-team__teammates {
  border: 2px solid blueviolet;
  width: 360px;
  height: 542px;
}








